<div class="text-center">
    <h1 class="display-4">Cadastro</h1>
</div>
<form action="/Authentication/Register" method="POST">
    <div class="m-auto w-25">
        <div class="mb-3">
            <label class="form-label">Usuário</label>
            <input type="text" class="form-control" name="Username" />
        </div>
        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input type="password" name="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Confirmar</button>
    </div>
</form>

<script>

</script>